@import "./flower.css";
@import "./button.css";

/* --------- GENERAL --------- */
body {
    margin: 0 auto;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.5;
}

img {
    max-width: 100%;
    height: auto;
}

h1 {
    display: flex;
    justify-content: center;
    color: hsl(120, 61%, 6%);

}

/* --------- HEADER --------- */

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: hsl(0, 0%, 100%);
    border-bottom: 1px solid hsl(120, 61%, 23%);

    & .brand {
        display: flex;
        padding: 1rem;
        background-color: hsl(120, 61%, 23%);
        color: white;
        text-transform: uppercase;
        font-weight: 700;
        border-right: 1px solid hsl(120, 61%, 23%);
        border-bottom: 1px solid hsl(120, 61%, 23%);

        &:hover {
            cursor: pointer;
        }
    }

    & nav {
        display: flex;
        flex-direction: row;
        align-items: center;
        padding-right: 1rem;
        gap: 0.6rem;

        & a {
            color: hsl(120, 61%, 23%);;
            text-decoration: none;
            display: inline-block;
            padding: 0.8rem;

            &:hover {
                background-color: hsl(49, 78%, 93%);
                color: hsl(120, 61%, 23%);
                cursor: pointer;
                transition: all 0.3s ease; 
            }
        }

    }
}

/* --------- MAIN --------- */
main {
    display: flex;
    flex-direction: column;
    padding: 2rem;
    padding-top: 1rem;}

/* --------- FOOTER --------- */

footer {
    display: flex;
    justify-content: flex-end;
    background-color: hsl(120, 61%, 23%);
    color: hsl(0, 0%, 100%);
    padding: 1rem;
}